<div id="base">
    
    <img src="../../assets/drone_icon.jpeg"style="width:100px;height:100px;">
    <form class="win">
      <span style="font-size: 12px;margin-right:160px; color:gray">Drone ID:</span>
  
      <input type="text" class="form-input" placeholder=""/>
      <span style="margin-top:5px;font-size: 12px;margin-right:145px; color:gray">Drone code:</span>
      <input type="password" class="form-input" />
      <input type="button" class="form-btn" value="Add Drone" />
    </form>
  
  </div>