<div id="base">
    
    <span style="font-weight: bold; font-size: 1.2rem;color: #3b3a3a;
    ">Set Map Name</span>
    <form class="winLogin">
      <span style="font-size: 12px;margin-right:160px; color:gray">Name:</span>
  
      <input type="text" class="form-login-input" placeholder=""/>
      <span style="margin-top:5px;font-size: 12px;margin-right:145px; color:gray">Password:</span>
      <input type="button" class="form-login-btn" value="Continue" />
      <a  class="form-login-link">Trouble logging in?</a>
    </form>
  
  </div>