<div id="base">
    
    <div id="headers">
      <span id="title">Create An Account:</span>
      <a routerLink=""><img id="exit" src="../../assets/img/cross2.png"></a>
    </div>
    <form class="winRegister">
      <span style="font-size: 12px;margin-right:165px; color:gray">Email:</span>
      <input type="text" class="form-register-input" placeholder=""/>

      <span style="font-size: 12px;margin-right:165px; color:gray">Name:</span>
      <input type="text" class="form-register-input" placeholder=""/>

      <span style="font-size: 12px;margin-right:150px; color:gray">Surname:</span>
      <input type="text" class="form-register-input" placeholder=""/>

      <span style="margin-top:5px;font-size: 12px;margin-right:145px; color:gray">Password:</span>
      <input type="password" class="form-register-input" />
      
      <a routerLink="/menu"><input type="button" class="form-register-btn" value="Sign Up" /></a>
    </form>
  
  </div>
  <br><br>
