#base {
    position: relative;
    left: 50%;
    margin-top: 60px;
    margin-bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid #cfcfcf;
    padding: 3rem;
    width: 300px;
    height: 420px;
}
  
#exit {
  display:flex;
  position: relative;
  height:30px;

  font-weight: bold;
  margin-left: 30px;
}

#title {
  margin-left:60px;
  font-weight: bold;

  width:220px;
  align-items: center;
  font-size: 1.4rem;
  color: #3b3a3a;
}

#headers {
    display: flex;
    justify-content:space-between;
}

    
#exit:hover {
  cursor: pointer;
}

  
  .winRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.9rem;
  }
  
  .winRegister input {
    width: 12rem;
    height: 1.7rem;
    margin: 0.9rem;
    border-radius: 0.3rem;
  }
  
  .form-register-input {
    padding-left: 0.9rem;
    border: 0.1rem solid #777;
    font-size: 0.9rem;
  }
  
  .form-register-btn {
    background-color: #036bb1;
    color: #fff;
    border: 0.1rem solid #036bb1;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .form-register-link {
    font-size: 1rem;
    color: #229fe7;
    margin: 1.2rem 0 1rem 0;
  }
  

 
  
  /*background-color: #dbe8ec;*/