<div id="base">
    
    <span style="font-weight: bold; font-size: 1.2rem;color: #3b3a3a;
    ">Create An Account:</span>
    <form class="winRegister">
      <span style="font-size: 12px;margin-right:165px; color:gray">Email:</span>
      <input type="text" class="form-register-input" placeholder=""/>

      <span style="font-size: 12px;margin-right:165px; color:gray">Name:</span>
      <input type="text" class="form-register-input" placeholder=""/>

      <span style="font-size: 12px;margin-right:150px; color:gray">Surname:</span>
      <input type="text" class="form-register-input" placeholder=""/>

      <span style="margin-top:5px;font-size: 12px;margin-right:145px; color:gray">Password:</span>
      <input type="password" class="form-register-input" />
      
      <input type="button" class="form-register-btn" value="Sign Up" />
    </form>
  
  </div>
  <br><br>
