
<div style="margin-top: 120px;">
    <ul class="horizontal">
        <li>
            <img src="../../assets/img_pages/drone_icon.png" style="width:102px;height:45px; margin-bottom: 19px;">
            <span>913-531-167</span>
        
        </li>
        <li>
            <img src="../../assets/img_pages/drone_icon.png" style="width:102px;height:45px; margin-bottom: 19px;">
            <span>913-674-667</span>
        
        </li>
        
        <li>
            <img src="../../assets/img_pages/drone_icon.png" style="width:102px;height:45px; margin-bottom: 19px;">
            <span>913-246-778</span>
        
        </li>
    </ul>
    <ul class="horizontal">
        <li>
            <img src="../../assets/img_pages/addBtn_ico.jpeg" style="width: 28px;height:28px; margin-bottom: 29px;">
            <span>Add Drone</span>
        
        </li> 
        <li style="border:0px;">
            <span></span>
        
        </li> 
        <li style="border:0px;">
            
            <span></span>
        
        </li> 
        

    </ul>


</div>