
<div style="margin-top: 120px;">
    <ul class="horizontal">
        <li>
            
            <span>View Crop health</span>
        
        </li>
        <li>
            
            <span>Set farm maps</span>
        
        </li> 
        
        <li>
            
            <span>Schedule</span>
        
        </li>
    </ul>
    <ul class="horizontal">
        <li>
            
            <span>View all drones</span>
        
        </li> 
        <li>
            
            <span>Settings</span>
        
        </li> 
        <li style="border:0px;">
            
            <span></span>
        
        </li> 
        

    </ul>


</div>