
<nav class="navbar-skeleton">            
        <img  mat-button [matMenuTriggerFor]="menu" id="logo" src="../../assets/language_ico.png">

        <ul  id="navbar-right-items">
            <li (click)="loginFunc()" [style.display]="loggedinStatus()? 'none':'block'">LOGIN</li>
            <li (click)="regFunc()" [style.display]="loggedinStatus()? 'none':'block'">REGISTER</li>
            <!--<a routerLink="" [style.display]="!loggedinStatus()? 'none':'block'"><li>SignOut</li></a>
            -->
        </ul> 
    
        <mat-menu #menu="matMenu">
            <button mat-menu-item>English</button>
            <button mat-menu-item>Française</button>
            <button mat-menu-item>日本語</button>
            <button mat-menu-item>Español</button>
        
        </mat-menu>
</nav>
